@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    background-color: #4674B1;
}

.navbar-my-brand {
    background: #5B93D0;
    color: #F7F4E4;
    font-family: Poppins, sans-serif;
    font-size: 24px; /* Ukuran font */
    font-weight: 600; /* Semibold */
    margin-top: 10px;
    padding: 0.5rem 1rem; /* Padding untuk memberikan ruang di sekitar teks */
    border-radius: 20px; /* Sudut melengkung pada frame */
}

.navbar-nav .nav-link {
    color: #F7F4E4; /* Warna font untuk tautan */
    font-family: Poppins, sans-serif;
    font-size: 16px; /* Ukuran font untuk tautan */
    font-weight: 600;

}

.navbar-nav .nav-link.active {
    background-color: #5B93D0;
    color: #F7F4E4;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}


.navbar {
    background-color: transparent; /* Warna background navbar #5B93D0*/
}

.navbar-nav .nav-link:hover {
    color: #0056b3; /* Warna font saat hover */
}

.paragraph-style-1 {
    color: #F7F4E4;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 800;
}

.paragraph-style-2 {
    color: #F7F4E4;
    font-size: 18px;
    font-family: Poppins, sans-serif;
}

.text-profile-margin{

    margin-top: 10%;
    margin-right: 60px;
}

.img-profile{
    width: 348px;
    height: 488px;
    margin-left: 120px;
    border-radius: 45%;
    object-fit: cover;
}

.btn-cv{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #83AAEB;
    color: #F7F4E4; /* Mengubah warna teks */
    border: none; /* Menghilangkan border */
    padding: 10px 20px; /* Mengatur padding */
    border-radius: 10px; /* Membuat sudut melengkung */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat hover */
}
.btn-cv:hover {
    background-color: #51A776; /* Mengubah warna background saat hover */
}