@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    background-color: #4674B1;
}

.navbar-my-brand {
    background: #5B93D0;
    color: #F7F4E4;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.navbar-nav .nav-link {
    color: #F7F4E4;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.navbar-nav .nav-link.active {
    background-color: #5B93D0;
    color: #F7F4E4;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}


.navbar {
    background-color: transparent;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
}

.paragraph-style-1 {
    color: #F7F4E4;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 800;
}

.paragraph-style-2 {
    color: #F7F4E4;
    font-size: 18px;
    font-family: Poppins, sans-serif;
}

.text-profile-margin{

    margin-top: 10%;
    margin-right: 60px;
}

.img-profile{
    width: 348px;
    height: 488px;
    margin-left: 120px;
    border-radius: 45%;
    object-fit: cover;
}

.btn-cv{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #83AAEB;
    color: #F7F4E4; /* Mengubah warna teks */
    border: none; /* Menghilangkan border */
    padding: 10px 20px; /* Mengatur padding */
    border-radius: 10px; /* Membuat sudut melengkung */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat hover */
}
.btn-cv:hover {
    background-color: #51A776; /* Mengubah warna background saat hover */
}
.main-footer{
    background-color: #5B93D0;
    margin-top: 150px;
}
.txt-main-footer{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F7F4E4;
}
.second-txt-main-footer{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #F7F4E4;
}
.right-main-footer{
    margin-left: 100px;
}
.icon-footer-margin{
    margin-left: 50px;
}
.footer-cr-style{
    background-color: #83AAEB;
}

.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Jarak antar card */
}

.scrolling-wrapper .card {
    min-width: 300px; /* Lebar minimum card */
    flex: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container1-content{
    display: flex;
    padding-top: 10px;
}

.container2-content{
    display: flex;
    justify-content: center;
    padding-top: 15%;
}
.sub-sertif-format{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #F7F4E4;
}

.typing {
    color: #F7F4E4;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 22ch;
    animation: typing 5s steps(22) 0.25s 1 normal both, blink 0.75s step-end 5s 1 normal both;
}

@keyframes typing {
    from { width: 0; }
    to { width: 22ch; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #F7F4E4; }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-down {
    animation: fadeInDown 1s ease-in-out;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }
    50% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(3deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}

.jack-in-the-box {
    display: inline-block;
    animation: jackInTheBox 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    display: inline-block;
    animation: fadeInLeft 3s ease-in-out;
}


